body,
.root,
.section-template {
  block-size: 100vh;
}

.section-template {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: opacity 0.4s ease, transform 0.2s ease;
  -moz-transition: opacity 0.4s ease, transform 0.2s ease;
  transition: opacity 0.4s ease, transform 0.2s ease;
}

.section-template.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.top {
  width: 100%;
  z-index: 1;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.main {
  padding-block-end: 74px;
  z-index: 0;
}


.top .container {
  margin: 0;
}

.top-navbar {
  font-size: 1.4rem;
  inline-size: 100%;
  block-size: 63.3px !important;
  padding: 0;
  background-color: inherit;
}

.top-navbar-icons.flex {
  justify-content: space-between;
  align-items: center;
}

.top-navbar-icons img {
  inline-size: 2rem;
  block-size: 1.8rem;
}

.top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-block-start: 0 !important;
  z-index: var(--z-index-5);
  opacity: 0.8;
  block-size: 100%;
  border: none;
}

.overlay.overlay-modal {
  position: fixed;
}

.top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-block-start: 0 !important;
  z-index: var(--z-index-5);
  opacity: 0.8;
  block-size: 100%;
  border: none;
}

.nav-drawer-profile .card.flex {
  flex-direction: column;
  align-items: flex-start;
  border: none;
  border-radius: 0;
  margin: 0;
  background-color: #ffffff;
  background-color: var(--brand-color-primary);
  padding-block-end: 1.2em;
  border-block-end: 1px solid #eeeeee;
  box-shadow: unset !important;
}

.nav-drawer-profile .card.flex img {
  inline-size: 4.375rem;
  block-size: 4.375rem;
  border: 5px solid var(--bg-color-primary);
  box-shadow: 0 0 0px 3.2px var(--brand-color-primary);
  background-color: var(--bg-color-smoke);
}

.nav-drawer-profile .card.flex h3 {
  font-weight: 800;
  font-size: 16px;
  color: #3d3d3d;
}

.nav-drawer-profile .card.flex h6 {
  font-weight: 400;
  font-size: 14px;
  color: #464646;
}

.nav-drawer-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inline-size: 70%;
  block-size: 100%;
  z-index: var(--z-index-5);
  display: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 0 !important;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #ffffff;
}

.nav-drawer-menu .nav-drawer-items .nav-drawer-item.flex {
  justify-content: flex-start;
}

.nav-drawer-menu .nav-drawer-items .nav-drawer-item a.flex {
  justify-content: space-between !important;
}

.nav-drawer-menu .nav-drawer-items .nav-drawer-item a {
  margin: unset;
  block-size: auto;
  padding: .8em 0.86em;
  border-block-end: 1px solid #f1f1f1;
  color: var(--text-color-primary);
  inline-size: 100%;
}

.nav-drawer-menu .nav-drawer-items .nav-drawer-item a .left-icon-container .image-container {
  border-radius: 50%;
  block-size: 40px;
  inline-size: 40px;
  background-color: #fbb040;
}

.nav-drawer-menu .nav-drawer-items .nav-drawer-item a .left-icon-container img {
  block-size: 20px;
  inline-size: 20px;
}

.nav-drawer-menu .nav-drawer-items .nav-drawer-item .nav-drawer-link {
  color: var(--text-color-primary);
  margin: 0 0.6425em;
  font-weight: 400;
}

.nav-drawer-menu .nav-drawer-items .nav-drawer-item a.footer > span.flex {
  justify-content: flex-start;
}

.nav-drawer-menu .nav-drawer-items .nav-drawer-item a.footer img {
  inline-size: 28px;
  block-size: 28px;
}



.deliver-to.flex {
  block-size: fit-content;
  align-items: flex-end;
}

.search-form {
  background-color: #ffffff;
  border-radius: 8px;
}

.search-form .form-control.flex {
  padding: 0;
  border: 1px solid var(--text-color-green);
  border-radius: 9px;
  background-color: var(--text-color-green);
}

.search-form .form-control input:focus {
  outline: none;
}

.search-form .form-control input {
  padding: .86rem .8em;
  inline-size: 100%;
  font-size: 16px;
  font-family: var(--font-family-primary);
  color: var(--text-color-light);
  border: 1px solid var(--text-color-green) !important;
  border-start-start-radius: 9px;
  border-end-start-radius: 9px;
  margin: 0;
}

.search-form .form-control input::placeholder,
.search-form .form-control input::-webkit-input-placeholder,
.search-form .form-control input:-moz-placeholder,
.search-form .form-control input::-ms-input-placeholder,
.search-form .form-control input:-ms-input-placeholder {
  color: var(--text-color-light);
}

.search-form .form-control img {
  block-size: 1.4rem;
  inline-size: 1.4rem;
  margin-inline: .8em;
  border: 1px solid var(--text-color-green);
}


.service-statuses {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.service-statuses span {
  cursor: pointer;
  padding: 5px;
  border-bottom: 2px solid transparent;
}

.service-statuses .active {
  border-bottom: 2px solid #e44d26;
  font-weight: bold;
}

.cards {
  flex-grow: 1;
}

.cards-item {
  margin-block-end: 6.6rem;
}

.dashboard-category {
  margin-block-end: 0.4rem;
}

.cards-list {
  padding-inline: 0;
}

.card.cards-list-item-plain {
  padding-block: 0.4rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content img {
  inline-size: 32px;
  block-size: 32px;
}

.content h5, .content h6 {
  margin: 0;
}


#restaurant-map-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#map {
  flex-grow: 1;
}

#restaurant-list {
  background-color: #fff;
  padding: 10px;
}

#restaurants {
  list-style: none;
  padding: 0;
  margin: 0;
}

#restaurants li {
  padding: 0 0 12px 0;
  cursor: pointer;
  border-radius: 13px;
  border: 1px solid rgb(238, 237, 237);
  margin-block-end: .8rem 
}

#restaurants li img {
  border-radius: 13px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#restaurants li h3,
#restaurants li p {
  padding-left: .4rem;
}






.bottom-nav {
  background-color: #fff;
  position: fixed;
  z-index: var(--z-index-1);
  bottom: 0;
  left: 0;
  right: 0;
  block-size: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.bottom-nav .wrapper {
  position: relative;
  justify-content: space-between;
}

.bottom-nav .wrapper .items.flex {
  inline-size: 100% !important;
  justify-content: space-evenly;
}

.bottom-nav .wrapper .items .item {
  flex-direction: column;
  align-items: center;
  margin: 0.3125em 0;
  padding: 0.3125em 0.625em;
  text-decoration: none;
  color: var(--text-color-secondary);
}

.bottom-nav .wrapper .items .item .icon {
  inline-size: 1.6em;
  block-size: 1.6em;
}

.bottom-nav .wrapper .items .item .title {
  color: var(--text-color-primary);
  letter-spacing: 0.05rem;
  font-size: 0.875rem;
  font-weight: 400;
}


.bottom-nav .wrapper .items .item .title.active {
  color: var(--brand-color-primary);
}



.restaurant-data {
  inline-size: 100%;
  padding-inline: 20px;
}

.restaurant-card {
  background-image: url("../assets/img/bg.png") !important;
  block-size: 180px;
  inline-size: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  margin-block-start: .4rem;
  border-radius: .6rem;
  object-fit: cover;
}


.restaurant-card-wrapper.flex {
  inline-size: 100%;
}

.restaurant-card-wrapper h3 {
  margin-block-start: .4rem;
  font-weight: 400;
  color: #292929FF;
}

.restaurant-card-wrapper h4 {
  color: var(--text-color-light);
  font-weight: 500;
  margin-block-end: .8rem;
}

.dishes.grid {
  grid-template-columns: 1fr(2);
}



.dishes.flex {
  justify-content: flex-start;
  gap: 1rem;
  inline-size: 480px;
  margin-block-end: 4.8rem;
}

.dishes.all-dishes.flex {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dishes.common-categories.flex {
  justify-content: flex-start;
  gap: 1rem;
  inline-size: 480px;
  margin-block-start: .8rem;
}

.dishes.common-categories .common-category-card {
  padding: .4rem 1.2rem;
  background-color: #FFF3DAFF;
  border-radius: 15px;
}

.dishes.common-categories .common-category-card.active {
  background-color: #FFB928FF;
}

.dish.card {
  margin: 0;
  padding: 0;
  block-size: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: none;
  box-shadow: unset !important;
}

.dish.card .dish-img-wrapper {
  inline-size: 100%;
  block-size: 184px;
  border-radius: .6rem;
  position: relative;
  background-image: url("../assets/img/bckg-pattern.svg") !important;
  border-radius: .6rem;
  background-size: cover;
  background-position: center; 
  margin-block-start: .6rem;
}

.dish.card:nth-child(1) .dish-img-wrapper {
  background-image: url("../assets/img/00.png") !important;
}

.dish.card:nth-child(2) .dish-img-wrapper {
  background-image: url("../assets/img/09.png") !important;
}

.dish.card:nth-child(4) .dish-img-wrapper {
  background-image: url("../assets/img/07.png") !important;
}

.dish.card:nth-child(3) .dish-img-wrapper {
  background-image: url("../assets/img/18.png") !important;
}

.dish.card:nth-child(5) .dish-img-wrapper {
  background-image: url("../assets/img/12.png") !important;
}

.dish.card:nth-child(6) .dish-img-wrapper {
  background-image: url("../assets/img/13.png") !important;
}

.dish.card:nth-child(7) .dish-img-wrapper {
  background-image: url("../assets/img/15.png") !important;
}

.dish.card:nth-child(8) .dish-img-wrapper {
  background-image: url("../assets/img/18.png") !important;
}

.dish-info-badge {
  position: absolute;
  margin: .6rem .6rem 0 .6rem;
  bottom: .4rem;
  background: rgba(0,0,0,.6);
  border-radius: .4rem;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  padding: 0 .4rem;
}

.dish-info-discount {
  position: absolute;
  margin: .6rem .6rem 0 .6rem;
  top: -1rem;
  right: .4rem;
  color: var(--text-color-black);
  font-size: small;
  font-style: normal;
  font-weight: bold;
  line-height: 1.6;
  background-color: #fdc878;
  padding: .066rem .6rem;
  border-radius: .4rem;
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.dish-info {
  inline-size: 100%;
  padding-inline: .6rem;
  margin-block-start: .4rem;
}

.dish-info h3 {
  font-weight: 400;
  color: #292929FF;
}

.dish-info-reaction.flex {
  justify-content: flex-start;
  gap: .4rem;
  block-size: fit-content;
}

.dish-info-reaction img {
  block-size: 24px;
  inline-size: 24px;
}

.dish-info h5 {
  font-weight: 500;
  color: var(--text-color-light);
}

.dish-add-to-cart-sheet {
  text-align: center;
  padding: 0;
  background-color: inherit;
}

.dish-add-to-cart-sheet img {
  block-size: 180px;
  inline-size: 100%;
  border-radius: 13px;
}

.dish-add-to-cart-sheet h2 {
  font-weight: normal;
  font-size: 26px;
  color: #333333;
}

.dish-add-to-cart-sheet p {
  font-weight: normal;
  font-size: 20px;
  color: #666666;
  margin-block-end: .6rem;
}

.dish-add-to-cart-sheet .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: .05rem;
}

.dish-add-to-cart-sheet .quantity-input {
  text-align: center;
  padding: .8rem;
  border: none;
}

.dish-add-to-cart-sheet .quantity > .increment,
.dish-add-to-cart-sheet .quantity >.decrement {
  padding-inline: 1.4rem;
  padding-block: .6rem;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--brand-color-primary);
  border: none;
  border-radius: 10px;
}

.dish-add-to-cart-sheet .add-to-cart {
  font-size: 20px;
  padding: .9rem .86rem;
  margin-block-start: 1.2rem;
  inline-size: 100%;
  color: #333333;
  background-color: var(--brand-color-primary);
  border: none;
  border-radius: 10px;
}
/* Product add to cart sheet */

.cart-sheet {
  text-align: center;
  padding: 0;
  background-color: inherit;
  inline-size: 100%;
}

.cart-sheet img {
  block-size: 180px;
  inline-size: 100%;
  border-radius: 13px;
}

.cart-sheet h2 {
  font-weight: normal;
  font-size: 26px;
  color: #333333;
}

.cart-sheet p {
  font-weight: normal;
  font-size: 20px;
  color: #666666;
  margin-block-end: .6rem;
}

.cart-sheet .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: .05rem;
}

.cart-sheet .quantity-input {
  text-align: center;
  padding: .8rem;
  border: none;
}

.cart-sheet .quantity > .increment,
.cart-sheet .quantity >.decrement {
  padding-inline: 1.4rem;
  padding-block: .6rem;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--brand-color-primary);
  border: none;
  border-radius: 10px;
}

.cart-sheet .add-to-cart {
  font-size: 20px;
  padding: .9rem .86rem;
  margin-block-start: 1.2rem;
  inline-size: 100%;
  color: #333333;
  background-color: var(--brand-color-primary);
  border: none;
  border-radius: 10px;
}

/* Cart */
.cart-item.flex {
  justify-content: space-between;
  inline-size: 100%;
  margin-block-end: 1.4rem;
}

.cart-items {
  inline-size: 100%;
  padding-inline: 1.4rem;
}

.cart-item.flex .item.flex {
  gap: .6rem;
}

.cart-item.flex .item.flex .text.flex {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cart-item.flex img {
  block-size: 100px;
  inline-size: 100px;
}

.cart-item.flex h2 {
  font-size: 16px;
}

.cart-item.flex p {
  margin: 0;
  font-size: 16px;
}

.cart-item .quantity.flex {
  flex-direction: column;
  border: 0;

}

.cart-item .quantity.flex input {
  inline-size: 50px;
  padding: .1rem;
  padding-block: .8rem;
  background-color: var(--brand-color-primary);
  border: none;
  border-radius: 10px;
}

.cart-item .quantity.flex .decrement-cta {
  font-size: 16px;
  background-color: unset;
}

.cart-item .quantity.flex .increment-cta {
  font-size: 16px;
  background-color: unset;
}
/* Cart */

/* Points cart */
.points-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  background-color: #fff;
  border: 1px solid #f7f7f7;
  border-radius: 13px;
  color: #666666;
  padding: .6rem .8rem;
  margin: .8rem 1.2rem;
}

.points-card img {
  inline-size: 40px;
  block-size: 40px;
}

.points-card h6 {
  color: #666;
  font-size: 18px;
  font-weight: normal;
}

.cart-money {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem .4rem;
  margin: .8rem .8rem;
}

.cart-money * {
  font-weight: bold;
  color: #333;
  font-size: large;
}

.cart-checkout {
  padding-inline: .8rem;
}

.btn-checkout {
  font-size: 20px;
  padding: .9rem .86rem;
  margin-block: 1.2rem;

  inline-size: 100%;
  color: #333333;
  background-color: var(--brand-color-primary);
  border: none;
  border-radius: 10px;
}

.bottom-slider .title h2 {
  color: #333;
  font-size: 22px;
  font-weight: normal;
}
/* Points cart */


/* Cards */
.cards-list {
  margin-block-end: 0;
  list-style-type: none;

  padding-block: .6rem;
  padding-inline: .8rem;

  border-radius: 13px;
  border-block-start: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}

.cards-list-item-plain {
  border-radius: 0;
  margin: 0;
  border: none;
  border-block-end: 1px solid #f4f4f4;
  padding: .8rem;
}

.cards-list-item-plain:last-child {
  border-block-end: none;
}

.cards-list-item-plain .content h5 {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-primary);
}

.cards-list-item-plain .content h6 {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color-secondary);
}

.cards-setting-item {
  border-radius: 0;
  margin: 0;
  padding-block: 0.8em;
  padding-inline: .4rem;
  border: none;
}

.cards-setting-item .content.flex {
  justify-content: flex-start;
  gap: 20px;
}


.cards-setting-item .content.flex .icon {
  padding: 0.6em;
  color: #ffffff;
  border-radius: 50%;
  block-size: 40px;
  inline-size: 40px;
}

.cards-setting-item .content.flex .icon img {
  inline-size: 20px;
  block-size: 20px;
}

.cards-setting-item .content.flex .icon.icon-phone {
  background-color: #34bf49;
}

.cards-setting-item .content.flex .icon.icon-contact {
  background-color: #511378;
}

.cards-setting-item .content h5 {
  font-size: 14px;
  font-weight: 400;
  color: #525f7f;
  color: #525f7f;
}

.cards-setting-item .content h6 {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-primary);
}

.cards-setting-item .content .label {
  color: #525f7f;
}

/* Cards */


