<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/assets/svg/favicon.ico" />
    <link rel="stylesheet" href="/css/root.css" >
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#a25016" />
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6Dhoo02KHD3Ekc6MUOdOwakdNN5K2N4w&libraries=places"></script>
    <title>Food Drop</title>
  </head>
  <body>
    <div id="root" class="root"></div>
    <script src="/js/app.js" type="module"></script>
    <script src="/js/router.js"></script>
    <script src="/js/ui.js"></script>
  </body>
</html>
